body {
    position: absolute;
    max-width:100%;
}
/*******************************************************
Header Section
*******************************************************/
.contactpage-header-section {
    background-image: url(../imgs/hondacivwash.jpg);
    background-size: cover;
    background-position: 50% 80%;
    height: 500px;
    width: 100vw;
    max-width: 100%
}

h1 {
    color: white;
}

/*******************************************************
Info Section
*******************************************************/
.contactpage-info-section {
    display: flex;
    justify-content: center;
}

.contactpage-info-section h2 {
    font: 42px "Cinzel";
}

.contactpage-info-section-container {
    width: 80vw;
}

    /*Icon Section*/


.contactpage-info-section-icon-section {
    margin: 120px 0 0 0;
    padding: 0 0 100px 0;
    border-bottom: solid 1px rgb(124, 139, 224);
}

.contactpage-info-section-icon-section h2 {
    margin: 0 0 60px 100px;
}

.contactpage-info-section-method-container {
    display: flex;
    justify-content: center;
}

.contactpage-info-section-method-container h3 {
    font: 36px "Poppins";
}

.contactpage-info-section-method-container p {
    font: 20px "Poppins";
}

i {
    color: rgb(124, 139, 224)
}

.contactpage-info-section-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;
}

    /*Form Section*/
.contactpage-info-section-form-section h2 {
    padding: 120px 0 0 0;
    margin: 0 200px 0 100px;
}

.contactpage-info-section-form-section {
    display: flex;
    flex-direction: row;
    font: 20px "Poppins";
}

.contactpage-info-section-form {
    width: 800px;
    padding: 100px 0 0 40px;
    display:flex;
    flex-direction: column;
}

.contactpage-info-section-form-flex {
    margin: 0;
    padding: 0;
}


.contactpage-info-section-form-flex li{
    display: flex;
    flex-direction: column;
}

.contactpage-info-section-form-flex li label {
    margin: 10px 0 10px 0;
}



.contactpage-info-section-form-flex li input {
    height: 20px;
    font-family: "Poppins"
}



.contactpage-info-section-form-section button {
    background-color: rgb(81, 105, 241);
    border: none;
    box-sizing: border-box;
    color: white;
    font: 22px "Forum";
    line-height: 24px;
    padding: 16px 23px;
    margin: 20px;
    transition: .8s;
    width: 200px;
    height: 60px;
    align-self: center;
}

.contactpage-info-section-form-section button:hover {
    height: 65px;
    width: 220px;
    font-size: 24px;
    background-color: rgb(124, 139, 224);
}