*, *::after, *::before {
    margin:0;
}

/*******************************************
Header Section
********************************************/
.header-section {
    background-image: url(imgs/audiheaderimage.jpg);
    background-size: cover;
    background-position: 50% 60%;
    height: 100vh;
    background-color: rgba(156, 179, 255, 0.55);
    background-blend-mode: multiply;
    color: white;
}

.header {
    display: flex;
}

.header-navbar-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 60px;
}

.header-navbar-list li {
    margin: 50px 30px;
    font: 20px "Assistant";
}

nav {
    width: 100%;
}

.image-logo {
    height: 150px;
}

.header-intro-section {
    margin: 20vh 0 0 100px;
}

h1 {
    font: 68px "Cinzel";
}

.header-intro-section p {
    font: 20px "Cinzel";
    margin-bottom: 5px;
}

.header-intro-section button {
    background-color: rgba(100,100,200,1);
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    font-family: "Assistant";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    margin: 20px;
    transition: .8s;
}

.header-intro-section button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*********************************************
Service Section
**************************************************/

.services-section {
    display: flex;
    flex-direction: column;
}

.services-section-text {
    align-self: center;
    margin: 80px 370px 60px 0;
}

.services-section h2 {
    font: 55px "Cinzel";
    text-align: start;
    margin-bottom: 10px;
}

.services-section p {
    font-family: "Assistant";
    text-align: start;
}


.services-section-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.service {
    height: 450px;
    width: 300px;
    margin: 0 15px;
    background-color: rgba(156, 179, 255, 0.65);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exterior-detail {
    background-image: url(imgs/exteriordetail.jpg);
    background-size: cover;
    background-color: rgba(255, 180, 145, 0.55);
    background-blend-mode: multiply;
}

.interior-detail {
    background-image: url(imgs/interiordetail.jpg);
    background-size: cover;
}

.paint-correction {
    background-image: url(imgs/paintcorrection.jpg);
    background-size: cover;
}

.car-wash {
    background-image: url(imgs/premierwash.jpg);
    background-size: cover;
}

.service-textbox {
    height: 45px;
    width: 250px;
    background-color: rgba(255,255,255,.7);
    border: 2px solid black;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    transition: .5s;
}

.service-textbox h5 {
    font: 20px "Cinzel";
}

.service-textbox p {
    text-align: center;
    display: none;
}

.service:hover .service-textbox p {
    display: block;
}

.service:hover .service-textbox {
    height: 350px;
    justify-content: space-evenly;
}

.service:hover {
    background-color: white;
}

/***************************************
About Section
***************************************/
.about-section {
    display: flex;
    flex-direction: row-reverse;
}

.about-section-background {
    background-image: url(imgs/driverinterior.jpg);
    background-size: contain;
    background-attachment: fixed;
    width:50vw;
    height:50vh;
}

.about-section-text {
    position: relative;
    background-color: rgb(167, 187, 255, .4);
    height: 80vh;
    width: 1000px;
    left: 300px;
    top: 
}